@using WebThuongMaiDienTu.Models
@{ 
    var taiKhoan = (TaiKhoan)Session["TaiKhoan"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/css/responsive.css">

</head>
<body>
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">

                        @*  <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                            <li><a href=""><i class="fa fa-user"></i> My Cart</a></li>
                            <li><a href=""><i class="fa fa-user"></i> Checkout</a></li>*@

                        @if (taiKhoan == null)
                        {


                            <a href="~/TaiKhoan/DangNhap"><i class="fa fa-user"></i> Đăng nhập</a>
                        }
                        else
                        {
                    <div>
                        <span style="color:red;">@taiKhoan.tenTaiKhoan</span> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style="color:black;text-decoration-color:red">Đổi mật khẩu</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("DangXuat", "TaiKhoan")" style="color:black;text-decoration-color:red">Đăng xuất</a>
                    </div>


                        }

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End header area -->
    <header>
        <div class="site-branding-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="logo">
                            <h1><a href="./"><img src="~/Assets/img/vertu.jpg"></a></h1>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="shopping-item">
                            <a href="~/GioHang/IndexUser">Giỏ hàng - <i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End site branding area -->

        <div class="mainmenu-area">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="~/Shop/">Trang chủ</a></li>

                            <li><a href="">Giỏ hàng</a></li>

                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- End mainmenu area -->

        <div class="slider-area">
            <!-- Slider -->
            <div class="block-slider block-slider4">
                <ul class="" id="bxslider-home4">
                    <li>
                        <img src="~/Assets/img/h4-slide.png" alt="Slide">
                        <div class="caption-group">
                            <h2 class="caption title">
                                iPhone <span class="primary">6 <strong>Plus</strong></span>
                            </h2>
                            <h4 class="caption subtitle">Dual SIM</h4>
                            <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                        </div>
                    </li>
                    <li>
                        <img src="~/Assets/img/h4-slide2.png" alt="Slide">
                        <div class="caption-group">
                            <h2 class="caption title">
                                by one, get one <span class="primary">50% <strong>off</strong></span>
                            </h2>
                            <h4 class="caption subtitle">school supplies & backpacks.*</h4>
                            <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                        </div>
                    </li>
                    <li>
                        <img src="~/Assets/img/h4-slide3.png" alt="Slide">
                        <div class="caption-group">
                            <h2 class="caption title">
                                Apple <span class="primary">Store <strong>Ipod</strong></span>
                            </h2>
                            <h4 class="caption subtitle">Select Item</h4>
                            <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                        </div>
                    </li>
                    <li>
                        <img src="~/Assets/img/h4-slide4.png" alt="Slide">
                        <div class="caption-group">
                            <h2 class="caption title">
                                Apple <span class="primary">Store <strong>Ipod</strong></span>
                            </h2>
                            <h4 class="caption subtitle">& Phone</h4>
                            <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- ./Slider -->
        </div> <!-- End slider area -->
    </header>
    <div>
        @RenderBody()
    </div>
    <div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-list">
                            <img src="~/Assets/img/brand1.png" alt="">
                            <img src="~/Assets/img/brand2.png" alt="">
                            <img src="~/Assets/img/brand3.png" alt="">
                            <img src="~/Assets/img/brand4.png" alt="">
                            <img src="~/Assets/img/brand5.png" alt="">
                            <img src="~/Assets/img/brand6.png" alt="">
                            <img src="~/Assets/img/brand1.png" alt="">
                            <img src="~/Assets/img/brand2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End brands area -->
    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2><span>ThanhThan Mobile</span></h2>
                        <p>Chào mừng bạn đến với <b>ThanhThan Mobile</b>, địa chỉ tin cậy cho những tín đồ công nghệ! Chúng tôi chuyên cung cấp các dòng điện thoại chính hãng từ các thương hiệu nổi tiếng như Apple, Samsung, Xiaomi, Oppo và nhiều hãng khác. Với cam kết mang đến sản phẩm chất lượng cao, giá cả cạnh tranh, cùng với dịch vụ chăm sóc khách hàng chu đáo, chúng tôi luôn đồng hành cùng bạn trên hành trình trải nghiệm công nghệ hiện đại. Hãy khám phá ngay bộ sưu tập điện thoại đa dạng, phù hợp với mọi nhu cầu và túi tiền!</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-6">

                </div>

                <div class="col-md-3 col-sm-6">

                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Thanh điều hướng</h2>
                        <ul>
                            <li class="active"><a href="~/Shop/">Trang chủ</a></li>

                            <li><a href="">Giỏ hàng</a></li>

                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>

                @*  <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
                <h2 class="footer-wid-title">Categories</h2>
                <ul>
                    <li><a href="#">Mobile Phone</a></li>
                    <li><a href="#">Home accesseries</a></li>
                    <li><a href="#">LED TV</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Gadets</a></li>
                </ul>
            </div>
        </div>*@

                @*  <div class="col-md-3 col-sm-6">
            <div class="footer-newsletter">
                <h2 class="footer-wid-title">Newsletter</h2>
                <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                <div class="newsletter-form">
                    <form action="#">
                        <input type="email" placeholder="Type your email">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>*@
            </div>
        </div>
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy;2024 Copyright </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- jQuery sticky menu -->
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="~/Assets/js/jquery.easing.1.3.min.js"></script>

    <!-- Main Script -->
    <script src="~/Assets/js/main.js"></script>

    <!-- Slider -->
    <script type="text/javascript" src="~/Assets/js/bxslider.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/script.slider.js"></script>
</body>
</html>

